html, body{
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-box{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-row{
  
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.box-row div{
  
  margin: 10px;
  width: 200px;
  height: 200px;
  background-color: blue;
  
}


@media screen and (max-width: 480px) {
  .box-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


@media screen and (max-width: 4mobile80px) {
  .box-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}